{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="zero-padding col-xs-12" style="margin-bottom:10px;">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="panel-holder col-lg-12">
             <div class="panel panel-default">

	    	    <div class="panel-heading table-responsive">
	    	      <div id='title-collapse' class='row'>
	              
	            </div>      
	    	    </div>

	    	    <div class="panel-body table-responsive" style='max-height:75%'>

            </div>

	    	    <div class='panel-footer'>
	    	        <div class='text-right'>
                  
	    	        </div>
	    	    </div>

	    	  </div>
	    	</div>

	</div>
</div>


{% endblock %}
{% block javascript %}
<script type="text/javascript">
</script>

{% endblock %}